@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.message-box {
    margin-top: 1.2rem;
    margin-right: 0;
    background-color: lightgrey;
    height: 20rem;
    overflow: auto;
}

.wrapper {
    width: 25rem;
    margin: 3rem auto;
}